<div class="container bg-light py-5">
<div class="jumbotron text-center">
    <h1 class="text-bold">Welcome to the Quiz</h1>
<p> This Quiz Contains <b>10 Questions</b>, each question carries 2 marks, 
    No negative marks<b>(Minimum Qualify marks 15)</b></p>
</div>
<h1 style="font-family: cursive; text-align: center;">All The Best!!!</h1>
  <form class="row gy-2 gx-2">
 <div class="col-md-5">
      <label class="visually-hidden" for="autoSizingInput">Name</label>
      <input #name type="text" class="form-control" id="autoSizingInput" placeholder="Your Name" required="">
    
</div>
<br>

    <div class="col-md-4">
      <label class="visually-hidden" for="autoSizingInputGroup">Email ID</label>
      <div class="input-group">
                <input #EmailId type="text" class="form-control" id="autoSizingInputGroup" placeholder="Email Id" required>
      </div>
    </div>
    <!-- <div class="col-auto">
      <label class="visually-hidden" for="autoSizingSelect">Preference</label>
      <select class="form-select" id="autoSizingSelect">
        <option selected>Select your Choice...</option>
        <option value="1">Java</option>
        <option value="2">Spring</option>
        <option value="3">Angular</option>
      </select>
    </div><br> -->
    
    
  </form>
  
  <br><div class="col-auto text-center">
    <button type="submit" class="btn btn-primary btn-1g" routerLink="/quiz" (click)="proceed()">Proceed</button>
  </div>
</div>

